<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:25px;font-family:Times;color:#000000;}
	.ft11{font-size:18px;font-family:Times;color:#000000;}
	.ft12{font-size:16px;font-family:Times;color:#000000;}
	.ft13{font-size:12px;font-family:Symbol;color:#000000;}
	.ft14{font-size:12px;font-family:Times;color:#000000;}
	.ft15{font-size:16px;font-family:Times;color:#000000;}
	.ft16{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target001.png" alt="background image"/>
<p style="position:absolute;top:115px;left:108px;white-space:nowrap" class="ft10"><b>E-Tugal&#160;Privacy&#160;Policy&#160;</b></p>
<p style="position:absolute;top:165px;left:108px;white-space:nowrap" class="ft11"><b>1.&#160;Introduction&#160;</b></p>
<p style="position:absolute;top:208px;left:108px;white-space:nowrap" class="ft16">Welcome&#160;to E-Tugal! Your privacy&#160;is important to&#160;us. This&#160;Privacy&#160;Policy&#160;outlines how&#160;we&#160;<br/>collect, use, store,&#160;and protect&#160;your personal information when&#160;you use&#160;our&#160;mobile application.&#160;<br/>By&#160;using&#160;E-Tugal,&#160;you agree&#160;to&#160;the collection and&#160;use&#160;of information in accordance&#160;with this&#160;<br/>policy.&#160;</p>
<p style="position:absolute;top:313px;left:108px;white-space:nowrap" class="ft11"><b>2.&#160;Information We&#160;Collect&#160;</b></p>
<p style="position:absolute;top:356px;left:108px;white-space:nowrap" class="ft12">When using&#160;E-Tugal, we&#160;may&#160;collect the&#160;following&#160;types of personal information:&#160;</p>
<p style="position:absolute;top:395px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:400px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:398px;left:162px;white-space:nowrap" class="ft16"><b>Account Information:</b>&#160;This includes&#160;your name, email address, phone number,&#160;<br/>password, and other necessary&#160;information for&#160;registration.&#160;</p>
<p style="position:absolute;top:437px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:441px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:439px;left:162px;white-space:nowrap" class="ft16"><b>Profile&#160;Information:</b>&#160;Information such as profile&#160;picture, bio, location, and&#160;user&#160;<br/>preferences.&#160;</p>
<p style="position:absolute;top:478px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:482px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:481px;left:162px;white-space:nowrap" class="ft16"><b>Usage&#160;Data:</b>&#160;Information&#160;about how&#160;you interact&#160;with the&#160;app, including&#160;tasks posted,&#160;<br/>tasks completed, reviews, and messages.&#160;</p>
<p style="position:absolute;top:519px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:524px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:522px;left:162px;white-space:nowrap" class="ft16"><b>Payment Information:</b>&#160;If&#160;applicable, we&#160;collect financial information such&#160;as bank&#160;<br/>details or payment methods for&#160;processing&#160;payments within the&#160;app.&#160;</p>
<p style="position:absolute;top:586px;left:108px;white-space:nowrap" class="ft11"><b>3.&#160;How&#160;We&#160;Use&#160;Your&#160;Information&#160;</b></p>
<p style="position:absolute;top:629px;left:108px;white-space:nowrap" class="ft12">E-Tugal uses the personal information we&#160;collect for the&#160;following&#160;purposes:&#160;</p>
<p style="position:absolute;top:668px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:672px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:671px;left:162px;white-space:nowrap" class="ft16"><b>To Provide&#160;and&#160;Improve&#160;Our&#160;Services:</b>&#160;Your&#160;information helps us&#160;to operate the&#160;app,&#160;<br/>connect users, and improve&#160;the user&#160;experience.&#160;</p>
<p style="position:absolute;top:709px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:714px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:712px;left:162px;white-space:nowrap" class="ft16"><b>Task&#160;Matching:</b>&#160;We&#160;use&#160;your location and profile&#160;information to connect&#160;you with&#160;<br/>relevant tasks or services in&#160;your area.&#160;</p>
<p style="position:absolute;top:751px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:755px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:754px;left:162px;white-space:nowrap" class="ft16"><b>Communication:</b>&#160;We&#160;may&#160;use&#160;your contact details to communicate with&#160;you about&#160;your&#160;<br/>account, updates to the&#160;app, or&#160;customer support inquiries.&#160;</p>
<p style="position:absolute;top:792px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:796px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:795px;left:162px;white-space:nowrap" class="ft16"><b>Payment&#160;Processing:</b>&#160;If&#160;applicable,&#160;your payment&#160;information will be used to process&#160;<br/>transactions between users.&#160;</p>
<p style="position:absolute;top:834px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:838px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:836px;left:162px;white-space:nowrap" class="ft16"><b>Security and&#160;Fraud&#160;Prevention:</b>&#160;To ensure&#160;the security&#160;of our platform and protect&#160;<br/>against&#160;fraud or misuse.&#160;</p>
<p style="position:absolute;top:900px;left:108px;white-space:nowrap" class="ft11"><b>4.&#160;Sharing&#160;Your Information&#160;</b></p>
<p style="position:absolute;top:943px;left:108px;white-space:nowrap" class="ft16">We&#160;do not&#160;sell&#160;or share&#160;your personal information with third parties, except in the following&#160;<br/>cases:&#160;</p>
<p style="position:absolute;top:1003px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:1007px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:1005px;left:162px;white-space:nowrap" class="ft16"><b>With&#160;Your Consent:</b>&#160;We&#160;may&#160;share&#160;your information with third parties when&#160;you&#160;give&#160;<br/>us explicit&#160;consent to do&#160;so.&#160;</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft20{font-size:12px;font-family:Symbol;color:#000000;}
	.ft21{font-size:12px;font-family:Times;color:#000000;}
	.ft22{font-size:16px;font-family:Times;color:#000000;}
	.ft23{font-size:16px;font-family:Times;color:#000000;}
	.ft24{font-size:18px;font-family:Times;color:#000000;}
	.ft25{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target002.png" alt="background image"/>
<p style="position:absolute;top:109px;left:135px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:114px;left:142px;white-space:nowrap" class="ft21">&#160;</p>
<p style="position:absolute;top:112px;left:162px;white-space:nowrap" class="ft25"><b>Legal Requirements:</b>&#160;We&#160;may&#160;disclose&#160;your personal information if required by&#160;law or&#160;<br/>to protect the&#160;rights, property, or safety&#160;of E-Tugal&#160;or others.&#160;</p>
<p style="position:absolute;top:151px;left:135px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:155px;left:142px;white-space:nowrap" class="ft21">&#160;</p>
<p style="position:absolute;top:153px;left:162px;white-space:nowrap" class="ft25"><b>Service&#160;Providers:</b>&#160;We&#160;may&#160;share&#160;your information with trusted third-party&#160;service&#160;<br/>providers who assist us&#160;in operating&#160;the app&#160;(e.g.,&#160;payment processors, hosting&#160;services).&#160;</p>
<p style="position:absolute;top:217px;left:108px;white-space:nowrap" class="ft24"><b>5.&#160;Data&#160;Security&#160;</b></p>
<p style="position:absolute;top:260px;left:108px;white-space:nowrap" class="ft25">We&#160;take&#160;the security&#160;of&#160;your personal information seriously&#160;and implement appropriate technical&#160;<br/>and organizational measures to protect it. However, no system is completely&#160;secure,&#160;and we&#160;<br/>cannot&#160;guarantee&#160;the&#160;absolute&#160;security&#160;of&#160;your information.&#160;</p>
<p style="position:absolute;top:344px;left:108px;white-space:nowrap" class="ft24"><b>6.&#160;Your&#160;Data&#160;Rights&#160;</b></p>
<p style="position:absolute;top:387px;left:108px;white-space:nowrap" class="ft23">You have&#160;the&#160;right to:&#160;</p>
<p style="position:absolute;top:426px;left:135px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:431px;left:142px;white-space:nowrap" class="ft21">&#160;</p>
<p style="position:absolute;top:429px;left:162px;white-space:nowrap" class="ft25"><b>Access and&#160;Update&#160;Information:</b>&#160;You can view&#160;and update&#160;your personal&#160;information&#160;<br/>through&#160;your&#160;account settings.&#160;</p>
<p style="position:absolute;top:468px;left:135px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:472px;left:142px;white-space:nowrap" class="ft21">&#160;</p>
<p style="position:absolute;top:471px;left:162px;white-space:nowrap" class="ft25"><b>Delete&#160;Your Account:</b>&#160;You can request the&#160;deletion of&#160;your&#160;account and&#160;personal data&#160;by&#160;<br/>contacting&#160;us. Please&#160;note&#160;that we&#160;may&#160;retain certain information as required by&#160;law or&#160;<br/>for&#160;legitimate business purposes.&#160;</p>
<p style="position:absolute;top:530px;left:135px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:534px;left:142px;white-space:nowrap" class="ft21">&#160;</p>
<p style="position:absolute;top:533px;left:162px;white-space:nowrap" class="ft25"><b>Object to&#160;Processing:</b>&#160;You may&#160;object to our&#160;use&#160;of&#160;your data for certain purposes, such&#160;<br/>as marketing&#160;communications.&#160;</p>
<p style="position:absolute;top:596px;left:108px;white-space:nowrap" class="ft24"><b>7.&#160;Cookies&#160;and Tracking&#160;Technologies&#160;</b></p>
<p style="position:absolute;top:639px;left:108px;white-space:nowrap" class="ft25">E-Tugal may&#160;use&#160;cookies&#160;and similar&#160;technologies&#160;to improve&#160;user experience, track usage,&#160;and&#160;<br/>analyze&#160;data. You&#160;can control cookie preferences through&#160;your browser settings, but&#160;some&#160;app&#160;<br/>features may&#160;not function properly&#160;without&#160;them.&#160;</p>
<p style="position:absolute;top:723px;left:108px;white-space:nowrap" class="ft24"><b>8.&#160;Third-Party&#160;Links&#160;</b></p>
<p style="position:absolute;top:767px;left:108px;white-space:nowrap" class="ft25">E-Tugal may&#160;contain links to third-party&#160;websites&#160;or services that are&#160;not operated by&#160;us. We&#160;are&#160;<br/>not responsible for the&#160;privacy&#160;practices of these&#160;external sites. We&#160;encourage&#160;you to&#160;review&#160;the&#160;<br/>privacy&#160;policies of&#160;any&#160;third-party&#160;sites&#160;you visit.&#160;</p>
<p style="position:absolute;top:847px;left:108px;white-space:nowrap" class="ft24"><b>9.&#160;Children’s Privacy&#160;</b></p>
<p style="position:absolute;top:894px;left:108px;white-space:nowrap" class="ft25">E-Tugal is not&#160;intended for use&#160;by&#160;individuals under the&#160;age&#160;of 18&#160;without&#160;parental consent. We&#160;<br/>do not knowingly&#160;collect&#160;personal information from children.&#160;If we&#160;become&#160;aware&#160;that we&#160;have&#160;<br/>collected personal data&#160;from a child under 18 without verification of&#160;parental consent, we&#160;will&#160;<br/>take&#160;steps to remove that&#160;information.&#160;</p>
<p style="position:absolute;top:998px;left:108px;white-space:nowrap" class="ft23">&#160;</p>
<p style="position:absolute;top:1040px;left:108px;white-space:nowrap" class="ft23">&#160;</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft30{font-size:18px;font-family:Times;color:#000000;}
	.ft31{font-size:16px;font-family:Times;color:#000000;}
	.ft32{font-size:14px;font-family:Times;color:#000000;}
	.ft33{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page3-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target003.png" alt="background image"/>
<p style="position:absolute;top:113px;left:108px;white-space:nowrap" class="ft30"><b>10.&#160;Changes to&#160;This&#160;Privacy&#160;Policy&#160;</b></p>
<p style="position:absolute;top:156px;left:108px;white-space:nowrap" class="ft33">We&#160;may&#160;update&#160;this Privacy&#160;Policy&#160;from time&#160;to&#160;time.&#160;If we&#160;make&#160;significant changes, we&#160;will&#160;<br/>notify&#160;you through the&#160;app or via email. Your&#160;continued use&#160;of E-Tugal after such changes&#160;<br/>constitutes acceptance&#160;of&#160;the new Privacy&#160;Policy.&#160;</p>
<p style="position:absolute;top:240px;left:108px;white-space:nowrap" class="ft30"><b>11.&#160;Contact&#160;Us&#160;</b></p>
<p style="position:absolute;top:284px;left:108px;white-space:nowrap" class="ft33">If&#160;you have&#160;any&#160;questions or concerns about this&#160;Privacy&#160;Policy, please&#160;contact us at&#160;<br/>[etugalapp@gmail.com].&#160;</p>
<p style="position:absolute;top:345px;left:108px;white-space:nowrap" class="ft32">&#160;</p>
</div>
</body>
</html>
