<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:25px;font-family:Times;color:#000000;}
	.ft11{font-size:18px;font-family:Times;color:#000000;}
	.ft12{font-size:16px;font-family:Times;color:#000000;}
	.ft13{font-size:12px;font-family:Symbol;color:#000000;}
	.ft14{font-size:12px;font-family:Times;color:#000000;}
	.ft15{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target001.png" alt="background image"/>
<p style="position:absolute;top:115px;left:108px;white-space:nowrap" class="ft10"><b>E-Tugal&#160;Terms&#160;and&#160;Conditions&#160;</b></p>
<p style="position:absolute;top:165px;left:108px;white-space:nowrap" class="ft11"><b>1.&#160;Introduction&#160;</b></p>
<p style="position:absolute;top:208px;left:108px;white-space:nowrap" class="ft15">Welcome&#160;to E-Tugal!&#160;By&#160;using&#160;our mobile&#160;application,&#160;you agree&#160;to comply&#160;with and be&#160;bound&#160;<br/>by&#160;the following&#160;Terms and Conditions.&#160;Please&#160;read them carefully.&#160;</p>
<p style="position:absolute;top:272px;left:108px;white-space:nowrap" class="ft11"><b>2.&#160;Acceptance&#160;of&#160;Terms&#160;</b></p>
<p style="position:absolute;top:315px;left:108px;white-space:nowrap" class="ft15">By&#160;accessing&#160;or using&#160;E-Tugal,&#160;you&#160;agree&#160;to be bound by&#160;these&#160;Terms and&#160;Conditions,&#160;as well&#160;as&#160;<br/>our Privacy&#160;Policy.&#160;If&#160;you do not agree&#160;with any&#160;part of&#160;these&#160;terms,&#160;you must discontinue&#160;using&#160;<br/>the application.&#160;</p>
<p style="position:absolute;top:399px;left:108px;white-space:nowrap" class="ft11"><b>3.&#160;Eligibility&#160;</b></p>
<p style="position:absolute;top:440px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:444px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:442px;left:162px;white-space:nowrap" class="ft12">E-Tugal is only&#160;available&#160;for&#160;residents of Polangui, Albay.&#160;</p>
<p style="position:absolute;top:460px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:465px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:463px;left:162px;white-space:nowrap" class="ft12">Users must&#160;be&#160;at least 18&#160;years old or&#160;have&#160;parental/guardian&#160;consent to use&#160;the app.&#160;</p>
<p style="position:absolute;top:506px;left:108px;white-space:nowrap" class="ft11"><b>4.&#160;Account&#160;Registration&#160;</b></p>
<p style="position:absolute;top:546px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:551px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:549px;left:162px;white-space:nowrap" class="ft12">You are&#160;responsible for&#160;maintaining&#160;the confidentiality&#160;of&#160;your account credentials.&#160;</p>
<p style="position:absolute;top:567px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:571px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:570px;left:162px;white-space:nowrap" class="ft12">All information provided during&#160;registration must be accurate&#160;and up-to-date.&#160;</p>
<p style="position:absolute;top:588px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:592px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:590px;left:162px;white-space:nowrap" class="ft15">You agree&#160;not to create an account using&#160;a&#160;false identity&#160;or on&#160;behalf of&#160;someone&#160;else&#160;<br/>without&#160;their&#160;permission.&#160;</p>
<p style="position:absolute;top:654px;left:108px;white-space:nowrap" class="ft11"><b>5.&#160;User&#160;Conduct&#160;</b></p>
<p style="position:absolute;top:697px;left:108px;white-space:nowrap" class="ft12">When using&#160;E-Tugal,&#160;you agree&#160;to:&#160;</p>
<p style="position:absolute;top:736px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:741px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:739px;left:162px;white-space:nowrap" class="ft12">Use&#160;the app for lawful&#160;and ethical&#160;purposes only.&#160;</p>
<p style="position:absolute;top:757px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:761px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:760px;left:162px;white-space:nowrap" class="ft12">Respect other users and not&#160;engage&#160;in any&#160;form of&#160;harassment, discrimination, or&#160;abuse.&#160;</p>
<p style="position:absolute;top:778px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:782px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:780px;left:162px;white-space:nowrap" class="ft12">Not upload or&#160;share&#160;inappropriate, offensive, or&#160;illegal content.&#160;</p>
<p style="position:absolute;top:798px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:802px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:801px;left:162px;white-space:nowrap" class="ft12">Not engage&#160;in fraudulent&#160;activities or&#160;misrepresent the&#160;services&#160;you offer or&#160;request.&#160;</p>
<p style="position:absolute;top:844px;left:108px;white-space:nowrap" class="ft11"><b>6.&#160;Task Posting&#160;and&#160;Completion&#160;</b></p>
<p style="position:absolute;top:884px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:889px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:887px;left:162px;white-space:nowrap" class="ft12">Users can&#160;post&#160;tasks or&#160;offer services in&#160;exchange&#160;for&#160;agreed-upon&#160;compensation.&#160;</p>
<p style="position:absolute;top:905px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:909px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:908px;left:162px;white-space:nowrap" class="ft12">Task posted&#160;must&#160;provide clear and accurate descriptions of the&#160;tasks.&#160;</p>
<p style="position:absolute;top:926px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:930px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:928px;left:162px;white-space:nowrap" class="ft15">Both&#160;parties (task performer&#160;and task&#160;provider)&#160;must agree&#160;on the terms of&#160;the task before&#160;<br/>it&#160;begins.&#160;</p>
<p style="position:absolute;top:967px;left:135px;white-space:nowrap" class="ft13"></p>
<p style="position:absolute;top:971px;left:142px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:970px;left:162px;white-space:nowrap" class="ft12">Payments&#160;should be settled as agreed by&#160;both parties through the&#160;chat.&#160;</p>
<p style="position:absolute;top:1012px;left:108px;white-space:nowrap" class="ft12">&#160;</p>
<p style="position:absolute;top:1053px;left:108px;white-space:nowrap" class="ft12">&#160;</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft20{font-size:18px;font-family:Times;color:#000000;}
	.ft21{font-size:12px;font-family:Symbol;color:#000000;}
	.ft22{font-size:12px;font-family:Times;color:#000000;}
	.ft23{font-size:16px;font-family:Times;color:#000000;}
	.ft24{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target002.png" alt="background image"/>
<p style="position:absolute;top:113px;left:108px;white-space:nowrap" class="ft20"><b>7.&#160;User&#160;Ratings&#160;and&#160;Reviews&#160;</b></p>
<p style="position:absolute;top:153px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:158px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:156px;left:162px;white-space:nowrap" class="ft23">After&#160;completing&#160;a&#160;task, users may&#160;rate&#160;and review their experience&#160;with other users.&#160;</p>
<p style="position:absolute;top:174px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:178px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:177px;left:162px;white-space:nowrap" class="ft24">Reviews must be truthful and&#160;respectful. E-Tugal&#160;reserves the right to remove&#160;reviews&#160;<br/>that violate these&#160;terms.&#160;</p>
<p style="position:absolute;top:240px;left:108px;white-space:nowrap" class="ft20"><b>8.&#160;Privacy&#160;Policy&#160;</b></p>
<p style="position:absolute;top:284px;left:108px;white-space:nowrap" class="ft24">Your&#160;use&#160;of E-Tugal is also governed by&#160;our Privacy&#160;Policy, which&#160;explains how we&#160;collect, use,&#160;<br/>and protect&#160;your personal&#160;information. By&#160;using&#160;the app,&#160;you agree&#160;to the&#160;terms of our&#160;Privacy&#160;<br/>Policy.&#160;</p>
<p style="position:absolute;top:368px;left:108px;white-space:nowrap" class="ft20"><b>9.&#160;Termination&#160;of&#160;Accounts&#160;</b></p>
<p style="position:absolute;top:411px;left:108px;white-space:nowrap" class="ft24">E-Tugal reserves the&#160;right to terminate or&#160;suspend&#160;any&#160;account that violates these&#160;Terms and&#160;<br/>Conditions without&#160;prior&#160;notice. This includes, but is not&#160;limited to, cases of:&#160;</p>
<p style="position:absolute;top:471px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:475px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:473px;left:162px;white-space:nowrap" class="ft23">Fraudulent activities&#160;</p>
<p style="position:absolute;top:491px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:496px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:494px;left:162px;white-space:nowrap" class="ft23">Harassment or inappropriate conduct&#160;</p>
<p style="position:absolute;top:512px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:516px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:515px;left:162px;white-space:nowrap" class="ft23">Violations&#160;of community&#160;standards&#160;</p>
<p style="position:absolute;top:558px;left:108px;white-space:nowrap" class="ft20"><b>10.&#160;Limitation of&#160;Liability&#160;</b></p>
<p style="position:absolute;top:598px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:602px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:601px;left:162px;white-space:nowrap" class="ft24">E-Tugal provides a&#160;platform for users to connect&#160;and complete tasks, but&#160;we&#160;are&#160;not&#160;<br/>responsible for the&#160;performance&#160;of tasks or any&#160;disputes that may&#160;arise&#160;between users.&#160;</p>
<p style="position:absolute;top:640px;left:135px;white-space:nowrap" class="ft21"></p>
<p style="position:absolute;top:644px;left:142px;white-space:nowrap" class="ft22">&#160;</p>
<p style="position:absolute;top:642px;left:162px;white-space:nowrap" class="ft24">E-Tugal is not&#160;liable for&#160;any&#160;direct, indirect, incidental, or consequential damages&#160;<br/>resulting&#160;from the use&#160;of&#160;the application.&#160;</p>
<p style="position:absolute;top:706px;left:108px;white-space:nowrap" class="ft20"><b>11.&#160;Changes to&#160;Terms and Conditions&#160;</b></p>
<p style="position:absolute;top:749px;left:108px;white-space:nowrap" class="ft24">E-Tugal reserves the&#160;right to modify&#160;or update these&#160;Terms and Conditions at any&#160;time. Users&#160;<br/>will&#160;be&#160;notified of any&#160;changes, and continued use&#160;of the&#160;app will&#160;constitute acceptance&#160;of the&#160;<br/>revised terms.&#160;</p>
<p style="position:absolute;top:833px;left:108px;white-space:nowrap" class="ft20"><b>12.&#160;Contact Information&#160;</b></p>
<p style="position:absolute;top:876px;left:108px;white-space:nowrap" class="ft24">If&#160;you have&#160;any&#160;questions or concerns regarding&#160;these&#160;Terms&#160;and Conditions,&#160;please&#160;contact us at&#160;<br/>[etugalapp@gmail.com].&#160;</p>
</div>
</body>
</html>
